@media (max-width:600px){

    .header h1{
        font-size: 2.5rem;
    }

    .header img{
        width: 7.5rem;
        margin-bottom: 2rem;
    }
    
}

/* Layout responsivo - quando a tela tem menos de 768px de largura, faz com que as duas colunas empilhem uma sobre a outra em vez de ficarem uma ao lado da outra */
@media (max-width:768px){


    .header h1{
        font-size:2.6rem;
    }

    .header img{
        width: 7rem;
        margin-bottom: 2rem;
    }

    .title{
         font-size: 1.8rem; 
    }

    .temp_img{
        width: 6rem;
    
    }
    
} 
@media (max-width:992px){


    .header h1{
        font-size:2.6rem;
    }

    .header img{
        width: 8rem;
        margin-bottom: 2rem;
    }

    .title{
         font-size: 2rem; 
    }

    .temp_img{
        width: 7.5rem;
    
    }
    
} 

@media (max-width:1192px){


    .header h1{
        font-size:2.6rem;
    }

    .header img{
        width: 9rem;
        margin-bottom: 2rem;
    }

    .title{
         font-size: 2rem; 
    }

    .temp_img{
        width: 8.5rem;
    
    }
    
} 

